body{
  background-color: blue;
  color: white;
}

.header {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}

a{
  color: white;
}

img{
  display: block;
  margin: auto;}

h4,h3,p,li{
  text-align: center
}

li {
  list-style-type: none;s
}
